<html>
    <title>
        "Forms title"
    </title>

    <body>
        <p>
            Many fileds types...
        </p>
        <form method = "post" avtion = "more.php">
            <p>
                <label for = "inp01">Account: </label>
                <input type = "text", name = "account", id = "inp01" size = "40">
            </p>

            <p>
                <label for = "inp02" >Password:</label>
                <input type = "password", name = "pw",id = "inp02" size = "40">
            </p>

        </form>
    </body>


</html>